.main {
  margin-top: 5em;
  color: black;
}
.center {
  justify-content: center;
  padding: 10px;
}

.ui.form{
  margin-top: 20px;
}

.ui.btn {
  display: grid;
  gap: 10px;  

}

.custom-list .item {
  height: 75px;
  border: 1px solid #c620d5;
  padding: 10px;
  background-color: white;
  margin-bottom: 10px;
}

